// Variables - COLORS---------------------------------------------------

$purple: #8951AA;
$lightBlack: #1D233D;
$yellow: #F6B73F;

$gray: #ccc; 
$darkPurple: #3e335e;
$lightBlue: #3F98BC;
$blue: #3B589D;
$blue2: #3BA1F4;
$blue3: #27509c;
$blue4: #4c98d3;
$blue5: #2d1f55;

$pink: #E25D80;
$lightPurple: #BE8FD2;
$red: #F34848;
$red2:#ef3e3f;

$bluePurple: #8E81F2;

//$green:#2aba9e;
$lightGreen: #8ed8f8;
$lightPink: #b88cbf;
$darkBlue: #2b1f4e; 
$lightGreen2: #94c94e;
$lightBrown: #f6a825;



/// default color used in the mobile app

$_lightBlue: #3cd4f6;
$_green: #04caa7;
$_yellow: #f6aa3a;
$_blue: #3ba2f6;
$_red: #f54949;
$_orange: #f17849;
$_purple: #8f82f5;
$_LightPurple: #bf90d4;
$_lightGreen: #b5f05d;

