.CompanyEditScreen{
	background: #3e335e;
}
.compImgCnt{
	background: $_orange;
	text-align: center;
}

.inputCls{
	position: relative;
	
	
	&.x-field .x-field-input{
		overflow: hidden;
		@include border-radius(5px); 
	}
}
.bbBlack{
	border-bottom:1px solid #000;
}
.compEditDesc{
	background: $_orange;
	text-align: center;
	color: white;
}
.compEditArea {
	padding: 0;
	.x-input-el{
		padding: 20px;
	}
}


.CompUploaderCls {
    position: absolute;
    top: 120px;
    left: 50%;
    overflow: hidden;
    width: 29px;
    padding: 0;
    margin-left: 20px;
    background: url(../images/company/upload.png);
    height: 30px;
    input[type=file]{
    	@include opacity(0);
    }
}
.CompUserImg{
	 border: 3px solid #CE592C;
    @include border-radius (50%);
    background-color: #251E3A;
}