.bgLightGreen{
	background: $_lightGreen !important;
}

.feedbackNo {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 45px;
	padding-top: 15px;
	text-align: center;
	background: darken($darkBlue, 5);
}



.FeedbackArea {
	.x-input-el{
		padding: 7px;
		@include border-radius(7px); 
	}
}
