
.editIcon{	
	background: center center transparent !important;
	width: 65px;
	height: 65px;
	position: absolute;
	border:none;
	background-image: url(../images/requestScreen/edit.png) !important;
	background-size: contain !important;
}
.replyIcon{	
	background: center center transparent !important;
	width: 65px;
	height: 65px;
	position: absolute;
	border:none;
	background-image: url(../images/requestScreen/reply.png) !important;
	background-size: contain !important;
}
.r10{
	right:10px;
}

.b10{
	bottom: 10px;
}
.b70{
	bottom: 70px;
}
.b75{
	bottom: 75px;
}
.MsgView{
	color: white;
}
.l10{
	left:10px;
}

.MsgField {
	background: #2d1f55;
	.x-form-field{
		padding-left: 6px;

	}
	
}

.MsgPanel{
	background: $blue5;
	
}
.MsgInboxCnt{
	.x-scroll-scroller{
		// padding-bottom: 70px;
		padding-top: 7px;
	}
}
.msgDate {
	background-color: black;
	position: absolute;
	top: -8px;
	padding: 3px 20px;
	font-size: 10px;
	color: #7A7193;
	@include border-radius(50px);
	z-index: 1;
}
.msgTime {
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	padding: 20px 0;
	bottom: 0;
	text-align: center;
	background-color: #3e335e;
	vertical-align: middle;
}
.msgList {
	padding: 3px 60px 0 95px;
	float: left;
}

.msgTitle {
	display: block;
}

.msgDesc {
	display: block;
	color: #888888;
}

.unRead {
	&:before {
		content: '';
		width: 13px;
		height: 13px;
		position: absolute;
		background-color: #f6aa3a;
		left: 84px;
		top: 48%;
		border-radius: 50%;
	}
	.msgDesc {
		color: #f6aa3a;
	}
}

.SubjectField {
	padding: 0;
	border-bottom: 1px solid #3e335e;
}

.SubjectField .x-input-el {
	padding: 10px;
}
.SubjectField .x-input-el {
	padding: 10px;
}

.TextMsg {
	padding: 0;
	background-color: white;
	position: absolute;
	top: 148px;
	left: 0;
	right: 0;
	bottom: 0;
	.x-input-el {
		padding: 10px;
		height: 100%;
	}
	> .x-component-outer, .x-field-input{
		height: 100%;
	}
}


.sendBtn2{
	right:10px;
	bottom: 10px;
	background: center center transparent !important;
	width: 65px;
	height: 65px;
	position: absolute;
	border:none;
	background-image: url(../images/requestScreen/sendBtn2.png) !important;
	background-size: contain!important;
}



.MsgDetailView {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 80px;
	background: white;
	.x-list-item {
		border-top: 1px solid black !important;
		@include transition(background 0.3s);
		&:hover{
			background: lighten($blue5,10);
		}
	}
	
	&.x-list {
		.x-list-item.x-item-selected.x-list-item-tpl,
		.x-list-item.x-item-pressed.x-list-item-tpl{
			background: lighten($blue5,15);
			.x-innerhtml{
				background: lighten($blue5,15);
			}
		}
	}
	// background-color: #fff;
	.x-list-item.x-list-item-tpl  .x-innerhtml{
		padding: 0 ;
	}
	.x-list-item-last{
		border-bottom: none !important;
	}
}

.msgDetailTitle {
	text-align: center;
	background-color: #3e335e;
	display: inline-block;
	width: 100%;
	padding: 12px 40px 13px 40px;
	position: relative;
	line-height: 1;
	.x-label{
		color: white;
		font-size: inherit;
		
	}
}

.msgDetailTitle .closeIcon {
	position: absolute;
	right: 5px;
	margin: 0;
	top: 6px;
}

.msgNameCnt {
	background-color: #eceaf2;
	color: #3e335e;
	padding: 0 10px;
	line-height: 1.6;
	position: relative;
}

.msgDetailDate {
	position: absolute;
	top: -10px;
	width: 90px;
	margin-left: -45px;
	left: 50%;
	font-size: 10px;
	background-color: #000;
	padding: 3px 20px;
	line-height: 1;
	text-align: center;
	color: #ECEAF2;
	border-radius: 50px;
}

.msgDetailUsername {
	font-weight: bold;
}

.msgDetailTime {
	float: right;
}

.msgDetailMsg {
	background-color: white;
	color: #3e335e;
	padding: 10px 5px;
}

.MsgCreateCnt , .MsgReplyCnt{
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	// background-color: white;
}
.MsgReplyCnt{
	.TextMsg {
		    top: auto;
    height: 100%;
    margin-top: 1px;
    bottom: auto;
	}
}
.MsgReplyView{
	padding: 10px;
	background-color: #fff;
	color: #3e335e;
}
