.PresSocial{
	background: #3e335e;
}
.presDown{	
	background:none !important; 
    @include opacity(0);
	position: absolute;
	border:none;
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
	
}
.presFacebookWrap, 
.presTwitterWrap, 
.presLinkedinWrap,
.presLinkedinWrap,
.presGoogleWrap,
.presPinterestWrap,
.presDriblleWrap,
.presBehanceWrap,
.presInstagramWrap{
    padding: 15px 15px 15px 60px;
    position: relative;
    .x-inner{
    	@extend .clearfix;
    }

}
.presFacebookWrap {
    background: url("../images/social/facebook.png") 5px center no-repeat #3b5997 !important;
}
.presTwitterWrap {
    background: url("../images/social/twitter.png") 5px center no-repeat #00abf0 !important;
}
.presLinkedinWrap {
    background: url("../images/social/linkedin.png") 5px center no-repeat #007bb6 !important;
}
.presGoogleWrap {
    background: url("../images/social/google.png") 5px center no-repeat #dd4c39 !important;
}
.presPinterestWrap {
    background: url("../images/social/pinterest.png") 5px center no-repeat #e3161d !important;
}
.presDriblleWrap {
    background: url("../images/social/driblle.png") 5px center no-repeat #e86181 !important;
}
.presBehanceWrap {
    background: url("../images/social/behance.png") 5px center no-repeat #3b8dff !important;
}
.presInstagramWrap {
    background: url("../images/social/instagram.png") 5px center no-repeat #78554c !important;
}

.socialInputCls{
	padding: 0;
	float: left;
}