
.RequestScreen{
	background: $blue5;
}
.bottom10{
	bottom:10px;
}
.addBtn{
	
	background: center center $_green;
	width: 60px;
	height: 60px;
	border:none;
	padding: 15px 0 0 15px;
	position: absolute;
	@include box-shadow(0px 0px 3px 1px #555);
	@include border-radius(50%);
	
	.x-button-label {
		background: center center transparent !important;
		background-image: url(../images/searchResult/plus1.png) !important;
		width: 30px;
		height: 30px;
		border: none;
		position: absolute;
		background-size: contain!important;
	} 
	
}
.btnCenter{
	left: 50%;
	margin-left: -30px;
	bottom: 10px;
}
.requestListView{
	// position: absolute;
	// width: 100%;
	// height: 100%;
	// padding-bottom: 80px;
	color:#fff;
	.x-list-item-first{
		border-top: 1px solid #000 !important;
	}
	.x-list-item {
		border-bottom: 1px solid black !important;
		@include transition(background 0.3s);
		&:hover{
			background: lighten($blue5,10);
		}
	}
	.x-list-emptytext {
		padding: 10px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.x-list-item-last{
		// border-bottom: 1px solid black !important;
	}
	&.x-list {
		.x-list-item.x-list-item-tpl .x-innerhtml{
			// padding: 0;
		}
		.x-list-item.x-item-selected.x-list-item-tpl,
		.x-list-item.x-item-pressed.x-list-item-tpl{
			background: lighten($blue5,15);
			.x-innerhtml{
				background: lighten($blue5,15);
			}
		}

	}

}
.requestListCnt{
	color: white;
	line-height: 1;
	font-size: 17px;
	@extend .clearfix;
	// padding: 12px 15px;
	// position: relative;
	// border-bottom: 1px solid #000;
	// &:hover{
	// 	background: lighten($blue5,10);
	// }
	.closeIcon{
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -15px;
		@include transition(opacity .3s);
		&:hover{
			@include opacity(0.7);

		}
	}

}
.reqListNo{
	text-align: center;
	width: 60px;
	padding: 14px 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color:darken($blue5, 3);
	
}
.reqListName{
	padding: 3px 60px 0 0;
	float: left;
}
.reqHead{
	color: #F6B73F;
	padding: 15px 0 15px 75px;
	background: #2d1f55;
	position: absolute;
	// border-bottom: 1px solid #000;
	&:after{
		content: '';
		background-image: url(../images/present/down.png);
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		width: 32px;
		vertical-align: top;
		height: 32px;
		position: absolute;
		top:50%;
		margin-top: -16px;
		right: 10px;
	}
	&.collapseActive{
		&:after{
			background-image: url(../images/present/up.png);
		}
	}
}
.reqInboxIcon, .reqDraftIcon, .reqSendIcon{
	position: relative;
	&:before{
		position: absolute;
		content: '';
		width: 30px;
		height: 30px;
		top: 11px;
		left: 15px;
		background: center center no-repeat transparent;
		border: none;
		background-size: contain;
	}
}
.reqInboxIcon{
	&:before{
		background-image: url(../images/requestScreen/recieve.png);
	}
}
.reqDraftIcon{
	&:before{
		background-image: url(../images/requestScreen/draft.png);
	}
}
.reqSendIcon{
	&:before{
		background-image: url(../images/requestScreen/send.png);
	}
}


.draftBtn {
	width:46px;
	height:46px;
	@include border-radius(50%);
	background: $_lightBlue;	
	display: inline-block;
	vertical-align: top;
	border:none;
	width: 46px;
	height: 46px;
	@include transition(0.3s all);
	&.activeBtn{
		background-color: darken(saturate($_lightBlue, 50), 20);
	}
	.x-button-label{
		background:center no-repeat;
		background-image: url(../images/requestScreen/draft1.png);
		width: 23px;
		height: 23px;
		vertical-align: top;
	}
}

.sendRequestBtn{
	@extend .draftBtn;
	.x-button-label{
		width: 26px;
		height: 31px;
		background-image: url(../images/requestScreen/send1.png);
	}
}
.msgSendBtn{
	@extend .draftBtn;
	background: $_yellow;
	&.activeBtn{
		background: darken(saturate($_yellow, 50), 17);
	}	
}	
.recieveBtn{	
	@extend .draftBtn;
	background: $_yellow;
	.x-button-label{
		width: 25px;
		height: 22px;
		background-image: url(../images/requestScreen/recieve1.png);
	}
	&.activeBtn{
		background: darken(saturate($_yellow, 50), 17);
	}
}
.requestBtn{
	right:10px;
	bottom: 10px;
	background: center center transparent;
	width: 65px;
	height: 65px;
	position: absolute;
	border:none;
	background-image: url(../images/requestScreen/request.png);
	background-size: contain;
}

.bgLightBlue{
	background: $_lightBlue !important;
}

.moreInfo {
	float: right;
	letter-spacing: -1px;
	font-size: 35px;
	font-weight: bold;
	line-height: 0px;
	color: black;
	height: 22px;
	@include transition(0.3s all);

}
.reqInfo{
	@extend .clearfix;
	display: none;
	>span{
		display: block;		
		padding: 13px 0 13px 60px;
		position: relative;
		border-bottom: 1px solid black;
		background: darken($blue5,5);
		&:before{
			content:'';
			position: absolute;
			left: 13px;
			top: 7px;
			width: 30px;
			height: 30px;
			@include border-radius(50%);
		}
		> span{
			display: inline-block;
			margin-left: 20px;
			font-weight: bold;
		}
	}

}
.infoVisible{
	.reqInfo{
		display: block;
	}
	.moreInfo{
		color: $_lightBlue;
		@include rotateY(180deg);
	}
}
.reqNoAction{
	&:before{
		background: url('../images/requestScreen/noaction.png') no-repeat center center $_lightBlue;
	}
}
.reqAccepted{	
	&:before{		
		background: url('../images/requestScreen/accept.png') no-repeat center center $_green;
	}
}
.reqDecline{	
	&:before{		
		background: url('../images/requestScreen/decline.png') no-repeat center center $_red;
	}
}
.sendReqList{
	&.x-list .x-list-item.x-list-item-tpl .x-innerhtml{
		padding: 0;
	}
	.x-list-item{
		border-bottom: none !important;
	}

}
.reqData{
	@extend .clearfix;
	padding: 12px 55px 12px 15px; 
	position: relative;
	border-bottom: 1px solid black;
}

