.searchCls{
	background: url("../images/search.png") no-repeat center center !important;	
}

.saveSearchCls{
	background: url("../images/saveSearch.png") no-repeat center center !important;	
}
.shortlistCls{
	background: url("../images/shortlist.png") no-repeat center center !important;	
}
.requestCls{
	background: url("../images/request.png") no-repeat center center !important;	

}
.searchCls, .saveSearchCls, .shortlistCls, .requestCls{
	background-size: contain!important;
}

