

.sendRequest{
	@extend .btnCircle;
	right:10px;
	bottom: 10px;
	padding: 11px 0 0 14px;
	background-color: $_yellow !important;
	.x-button-label{
		background-image: url(../images/requestScreen/sendBtn.png) !important;
		width: 34px;
		height: 41px;
	}
}
