.StatisticsView{
	background: #3e335e;
}

.resumeStatsBtn {
	@extend .tabIconSpan;
	padding: 0px 0 0 16px;
	background-color: $_purple;
	.x-button-label{
		background-image: url(../images/statisticsView/resume.png) !important;
		width: 18px;
		height: 22px;
	}
	&.activeBtn {
		background-color: adjust-hue(darken(saturate($_purple, 50), 10), 15);
	}
}
.requestStatsBtn{
	@extend .tabIconSpan;
	padding: 0px 0 0 16px;
	background-color: $_purple;
	.x-button-label{
		background-image: url(../images/statisticsView/request.png) !important;	
		width: 17px;
		height: 20px;
	}
	&.activeBtn {
		background-color: adjust-hue(darken(saturate($_purple, 50), 10), 15);
	}
}
.graphStatsBtn{
	@extend .tabIconSpan;
	padding: 2px 0 0 13px;
	background-color: $_purple;
	.x-button-label{
		background-image: url(../images/statisticsView/graph.png) !important;	
		width: 22px;
		height: 20px;
	}
	&.activeBtn {
		background-color: adjust-hue(darken(saturate($_purple, 50), 10), 15);
	}
}


.PrevStatsBtn{
	border:none;
	width: 17px;
	height: 21px;
	background: url(../images/statisticsView/prev.png) no-repeat center !important;	
	
}


.statsHeadCnt{
	background: #261f3b;
	padding: 5px 0;
}
.statisticsList{
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	.x-list-item.x-list-item-tpl{
		border-bottom: 1px solid #000 !important;
	}
	.statsDate{
		float: left;
	}
	.statsResume{
		float: right;
		font-size: 18px;
	}

	.x-innerhtml{
		@extend .clearfix;
		color: #fff;
	}
}

.StatsBottom{
	color: white;
	text-align: center;
	font-size: 20px;
}
.statsBlue{
	background-color: #3ba2f6;
}

.statsLightBlue{
	background-color: $_lightBlue;
}


.x-chart-watermark{
	display: none;
}
.statsImgCnt{
	position: relative;
	border-bottom: 2px solid #261f3b;
	
}
.StatsGraphInnerCnt{
	position: relative;
	
}
.StatsRequestImg{
	background:url('../images/statisticsView/request1.png') no-repeat center center #8f82f5 ;
}
.StatsResumeImg{
	background:url('../images/statisticsView/resume1.png') no-repeat center center #8f82f5 ;
}
.StatsDate{
	width: 26px;
	height: 26px;
	border:none;
	background:url('../images/statisticsView/calander.png') no-repeat center center #8f82f5 !important;
}

.StatsDateCnt{
	line-height: 1;
	.x-inner{
		@extend .clearfix;
	}
}
.StatsDatelbl{
	font-size: 12px;
	color: #fff;
}
.StatsRequestLbl{
	color: $_lightBlue;
	width: 48%;
	float: right;
	text-align: left;
}
.StatsResumeLbl{
	color: #3ba2f6;
	width: 48%;
	float: left;
	text-align: right;
}

.chartLegend{
	.x-legend-inner .x-legend-container{
		background: none;
		.x-legend-item{
			color: #fff;
			font-weight: normal;
		}
	}
}
.bgPurple{
	background: $_purple !important;
}