.x-button-label{
	text-transform:none;
	white-space: normal;
}
.AppView {
  background-image: url(../images/BG.jpg) ;
}
.appBtn {
	border:none;
	padding: 20px;
	@include breakpoint(mobile){
		padding: 10px;
	}
	.x-button-label{
		text-align:left;
		// padding-left: 10px;
		line-height:1.4;
		color:white;
	}
	.x-button-icon{
		color:white;
	}
	&.blueBtn{
		background: $blue;
	}
	&.redBtn{
		background: $red;
	}
	&.greenBtn{
		background: $_green;
	}
	&.purpleBtn{
		background: $purple;
	}
	&.lightBlackBtn{
		background: $lightBlack;
	}
	&.yellowBtn{
		background: $yellow;
	}
	&.x-button-pressing{
		@include opacity(0.7);
	}
}
.btnHeading {
	display: block;
	font-size: 20px;
	@include breakpoint(mobile){
		font-size: 16px;
		font-weight: bold;
	}
}
.btnDetail{
	font-size: 14px;
	@include breakpoint(mobile){
		font-size: 12px;
	}
}
.btnHeadingRight {
	//padding-left: 70px;
}


.menuIcon{
	width: 33px;
	height: 26px;
	background: url("../images/menu.png") no-repeat center center !important;
	border: none!important;
	padding: 0!important;
	min-height: 0!important;


}
.LoginFormCnt{
	.menuIcon{
		display: none!important;
	}
}